<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/main.css') }} />
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/login.css') }} />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js" charset="utf-8"></script>
    <script src={{ url_for('static', filename='js/bg.js') }} language="Javascript" type="text/javascript"></script>
    
    <title> </title>
</head>

<body>
    <div id='background'>
        
        
        <div id='entertextprompt'>{{text}}</div>

{%if v%}
<form method='POST' enctype='multipart/form-data' action={{action}}>
    {%if input%}
    <input type="text" autocomplete="off" autofocus="autofocus"
    name="subject_id" id="word-input">
    {%endif%}
    <input type="submit" value="Submit" class="submit {%if input%} loginsubmit {%endif%}" id=submit>
</form>
{%endif%}

        
    </div>
</body>
</html>
