<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/main.css') }} />
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/threads.css') }} />
    <script type="text/javascript" language="Javascript" src="https://code.jquery.com/jquery-3.0.0.min.js""></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js" charset="utf-8"></script>
    <script src={{ url_for('static', filename='js/bg.js') }} language="Javascript" type="text/javascript"></script>
    <script src={{ url_for('static', filename='js/threads.js') }} language="Javascript" type="text/javascript"></script>     
    <script type="text/javascript">
        var $user = '{{user}}';
    </script>
    
    <title> </title> 
</head>
<body>
    <div id='background'>  
    <div id='headthread'>threads</div> 

    <div id=new_page_wrap>
        <form method='POST' enctype='multipart/form-data' class=local_submit id=new_thread_form action='/new/{{user}}'>
              <input type="text" autocomplete="off" autofocus=autofocus name=new_thread data-big="small" data-source="" id='new_thread_text' required>
        </form>
        <div class='fakebutton' id=new_page>
        <p>Create New</p>
        </div>
        <div class='fakebutton' id=search>
        <p>Search</p>
        </div>

        <div id=threads_wrap>
        </div>
    </div>        
        <div id=subject_id_box> user: {{user}}</div>
    </div>
</body>
</html>